@@ -1,6 +1,6 @@
body {
    background-color: black;
    color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-self: center;
@@ -14,10 +14,11 @@
    height: 40px;
    color: blue;
    background-color: greenyellow;
    font-size: 100px;
}

.nor {
    height: 35px;
    width: 100px;
    color: green;
    background-color: yellow;
