body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-self: center;
    justify-self: center;
    align-content: center;
}

.bts {
    width: 100px;
    height: 40px;
    color: blue;
    background-color: greenyellow;
}
