body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-self: center;
    justify-self: center;
    align-content: center;
}

.bts {
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    height: 40px;
    color: blue;
    background-color: greenyellow;
}

.nor {
    height: 35px;
    width: 100px;
    color: green;
    background-color: yellow;
}
